@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Aileron";
	src: url("/font/Aileron-Regular.otf");
	font-weight: 400;
}
@font-face {
	font-family: "Aileron";
	src: url("/font/Aileron-SemiBold.otf");
	font-weight: 600;
}
@font-face {
	font-family: "SloopScript";
	src: url("/font/Sloop Script Regular.ttf");
	font-weight: 400;
}

html,
body {
	@apply bg-[#FEFDFA];
	font-family: "Aileron", "SloopScript";
}
